<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <springProfile name="default | dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <root level="INFO">
            <appender-ref ref="jsonConsole"/>
        </root>

        <logger name="org.hibernate" level="ERROR"/>
        <logger name="org.apache.kafka" level="ERROR" />
        <logger name="org.apache.tomcat" level="ERROR"/>
        <logger name="org.springdoc.api" level="ERROR"/>
        <logger name="com.zaxxer.hikari" level="ERROR"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.apache.catalina" level="ERROR"/>
    </springProfile>

    <springProfile name="prod | k8s">
        <root level="INFO">
            <appender-ref ref="jsonConsole"/>
        </root>

        <logger name="org.hibernate" level="ERROR"/>
        <logger name="org.apache.kafka" level="ERROR" />
        <logger name="org.apache.tomcat" level="ERROR"/>
        <logger name="org.springdoc.api" level="ERROR"/>
        <logger name="com.zaxxer.hikari" level="ERROR"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.apache.catalina" level="ERROR"/>
    </springProfile>
</configuration>